<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>119175152810-kkvv3skm9pti6052csladehkt02lscm0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.119175152810-kkvv3skm9pti6052csladehkt02lscm0</string>
	<key>API_KEY</key>
	<string>AIzaSyCTa4nOICD97_TSVTCmcLCbFjDJcarDCVE</string>
	<key>GCM_SENDER_ID</key>
	<string>119175152810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.digitalwallet</string>
	<key>PROJECT_ID</key>
	<string>digiwallet-bc18b</string>
	<key>STORAGE_BUCKET</key>
	<string>digiwallet-bc18b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119175152810:ios:97fd04fe646fb55be03cd3</string>
</dict>
</plist>